In [ ]:
#swapping of values of variables without using third variable.#

In [1]:
a=10

In [2]:
b=5

In [3]:
a=a+b

In [4]:
b=a-b

In [5]:
a=a-b

In [7]:
print("a is",a,"b is ",b)

a is 5 b is  10

In [ ]:
#calculating the area of rectangle .#

In [8]:
l=int(input("enter the lenght "))

enter the lenght  6

In [9]:
b=int(input("enter the bredth"))

enter the bredth 4

In [10]:
area = l*b

In [11]:
print("area of rectangle is",area)

area of rectangle is 24

In [ ]:
# converting temperatures from Celsius to fahrenheit.#

In [13]:
celsius=float(input("enter temp. in celsius"))

enter temp. in celsius 23

In [14]:
fahrenheit=(celsius*1.8)+32

In [15]:
print("celsius temp. in fahrenheit is",fahrenheit)

celsius temp. in fahrenheit is 73.4

In [ ]:
#to find lenght of string using len()#

In [16]:
str="tannu"

In [18]:
print(len(str))

5

In [ ]:
#count the number of vowels (a, e, i, o, u) in the string.#

In [19]:
str=" my first python program"

In [20]:
vowels="aeiou"

In [22]:
count=sum(str.count(vowel) for vowel in vowels )

In [24]:
print(count)

4

In [ ]:
#reverse the order of characters using string slicing#

In [25]:
a="tannu"

In [29]:
a

'tannu'

In [30]:
a[::-1]

'unnat'

In [ ]:
#check a string is a palindrome or not#

In [51]:
string =input("enter a string")

enter a string patna

In [52]:
string[::-1]

'antap'

In [53]:
if (string == string[::-1]):
    print( 'string is palindrome')
else:
    print("not palindrome")

not palindrome

In [ ]:
#remove all the space from the string#

In [54]:
a="p   w   skill   s"

In [58]:
print(a.replace(" ", ""))

pwskills